<div class="remove-container container-block"> 
    <div> 
        <h2 class="container-block-title">My Podcasts</h2> 
        <ul class="list-unstyled interests-list"> 
            <li><a target="_blank" href="https://www.youtube.com/@wavebywave365">Wave By Wave</a></li> 
        </ul> 
    </div> 

    <div id="downloadable-repos"> 
    <h2 class="container-block-title">Downloadable Repositories</h2> 
    <ul class="list-unstyled interests-list"> 
        <li class="repo-item"> 
            <a target="_blank" href="https://github.com/sanju7/NagiosStuff">Open Source Monitoring</a> 
            <a class="github-button" href="https://github.com/sanju7/NagiosStuff" data-icon="octicon-star" data-show-count="true" aria-label="Star sanju7/NagiosStuff on GitHub">Star</a> 
        </li> 
        <li class="repo-item"> 
            <a target="_blank" href="https://github.com/sanju7/AWSStuff">AWS Utilities</a> 
            <a class="github-button" href="https://github.com/sanju7/AWSStuff" data-icon="octicon-star" data-show-count="true" aria-label="Star sanju7/AWSStuff on GitHub">Star</a> 
        </li> 
        <li class="repo-item"> 
            <a target="_blank" href="https://github.com/sanju7/GoogleCloudTest">Google Cloud Utilities</a> 
            <a class="github-button" href="https://github.com/sanju7/GoogleCloudTest" data-icon="octicon-star" data-show-count="true" aria-label="Star sanju7/GoogleCloudTest on GitHub">Star</a> 
        </li> 
    </ul> 
   </div> 
    <script async defer src="https://buttons.github.io/buttons.js"></script> 
</div> 
